<div class="container">
  <h3>Select your players</h3>
  <p class="new-part-right">x/10</p>

<%#= simple_form_for @players do |f| %>
  <%#= f.input :game_id, as: :boolean %>
  <%#= f.button :submit %>
<%# end %>

  <h5>Center</h5>
  <div class="card-select-players">
  <% @players_list.each do |player| %>
    <% if player.position == "C" %>
    <div class="card-select-player">
      <img src="<%= player && player.photo.present? ?cl_image_path(player.photo.key) :asset_path('curry.png')%>" alt="player_picture">
      <div class="flex-text"><p><%= player.name %></p></div>
    </div>
    <% end %>
  <% end %>
  </div>
  <h5>Forward</h5>
  <div class="card-select-players">
  <% @players_list.each do |player| %>
    <% if player.position == "F" %>
    <div class="card-select-player">
      <img src="<%= player && player.photo.present? ?cl_image_path(player.photo.key) :asset_path('curry.png')%>" alt="player_picture">
      <div class="flex-text"><p><%= player.name %></p></div>
    </div>
    <% end %>
  <% end %>
  </div>
  <h5>Guard</h5>
  <div class="card-select-players">
  <%= form_with url:  set_participations_game_path(@game), method: :post, class: "d-flex" do %>
    <% @players_list.each do |player| %>
      <%= label_tag "player_#{player.id}", player.name %>
      <input type="checkbox" name="players[]" id="player_<%= player.id %>" value="<%= player.id %>">
      <% if player.position == "G" %>
      <div class="card-select-player">
        <img src="<%= player && player.photo.present? ?cl_image_path(player.photo.key) :asset_path('curry.png')%>" alt="player_picture">
        <div class="flex-text"><p><%= player.name %></p></div>
      </div>
      <% end %>
    <% end %>
    <%= submit_tag "Next", class: "btn-orange-classic" %>
  <% end %>
  </div>
  <div class="container-flex">
    <%# <%= link_to "Next >", game_path(@game), class: "btn-orange-classic" %> %>
    <button class="btn-orange-classic">Next ></button>
  </div>


</div>
