<div class="container">
  <h3>Select your players</h3>
  <p class="new-part-right">x/10</p>

  <div class="card-select-players">
    <%= form_with url:  set_participations_game_path(@game), method: :post, class: "@" do %>
      <% @players_list.each do |position, player| %>
        <% if position == "C" %>
          <h5>Center</h5>
        <% elsif position == "F" %>
          <h5>Forward</h5>
        <% else %>
          <h5>Guard</h5>
        <% end %>
        <div class="container-flex">
          <% player.each do |player| %>
            <div class="card-select-player">
              <img src="<%= player && player.photo.present? ?cl_image_path(player.photo.key) :asset_path('curry.png')%>" alt="player_picture">
                <p><%= label_tag "player_#{player.id}", player.name %></p>
              <input type="checkbox" name="players[]" id="player_<%= player.id %>" value="<%= player.id %>">
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="container-flex">
    <%= submit_tag "Next", class: "btn-orange-classic" %>
  </div>
</div>
