<div class="container" data-controller='checked-player'>
  <div class="title-container">
    <h3>Select your players</h3>
  </div>
  <p class="new-part-right selected-count" data-checked-player-target='count'>0/10</p>

  <div class="card-select-players" data-checked-player-target='playersContainer'>
    <%= form_with url:  set_participations_game_path(@game), method: :post, class: "@", remote: true do %>
      <% @players_list.each do |position, player| %>
        <% if position == "C" %>
          <h5>Center</h5>
        <% elsif position == "F" %>
          <h5>Forward</h5>
        <% else %>
          <h5>Guard</h5>
        <% end %>
        <div class="container-flex">
          <% player.each do |player| %>
            <label for="player_<%= player.id %>" class="card-select-player" data-action='click->checked-player#selectCard'>
              <img src="<%= player && player.photo.present? ?cl_image_path(player.photo.key) :asset_path('curry.png')%>" alt="player_picture">
              <p><%= player.player_name %></p>
              <i class="fa-regular fa-circle-check" hidden></i>
              <input type="checkbox" name="players[]" id="player_<%= player.id %>" value="<%= player.id %>" class="checkbox">
            </label>

          <% end %>
        </div>
      <% end %>
      <div class="btn-flex" data-checked-player-target='buttonNext' hidden>
        <%= submit_tag "Next >", class: "btn-orange-classic" %>
      </div>
    <% end %>
  </div>
</div>
