<div class="container">
  <h3>Select your players</h3>
  <p class="new-part-right selected-count">0/10</p>

  <div class="card-select-players">
    <%= form_with url:  set_participations_game_path(@game), method: :post, class: "@" do %>
      <% @players_list.each do |position, player| %>
        <% if position == "C" %>
          <h5>Center</h5>
        <% elsif position == "F" %>
          <h5>Forward</h5>
        <% else %>
          <h5>Guard</h5>
        <% end %>
        <div class="container-flex">
          <% player.each do |player| %>
            <div class="card-select-player">
              <input type="checkbox" name="players[]" id="player_<%= player.id %>" value="<%= player.id %>" class="checkbox">
              <img src="<%= player && player.photo.present? ?cl_image_path(player.photo.key) :asset_path('curry.png')%>" alt="player_picture">
              <p><%= label_tag "player_#{player.id}", player.player_name %></p>
              <i class="fa-regular fa-circle-check"></i>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="btn-flex" style="display: none;">
        <%= submit_tag "Next >", class: "btn-orange-classic" %>
      </div>
    <% end %>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>

  $(document).ready(function () {
    $('.card-select-player').click(function () {
      var checkbox = $(this).find('.checkbox');
      checkbox.prop('checked', !checkbox.prop('checked'));

      var checkIcon = $(this).find('.fa-circle-check');
      checkIcon.toggle(checkbox.prop('checked'));

      $(this).toggleClass('checked', checkbox.prop('checked'));

      updateSelectedCount();
    });

    $('.card-select-player input[type="checkbox"]').change(function () {
      var checkIcon = $(this).siblings('.fa-circle-check');
      checkIcon.toggle($(this).prop('checked'));
      $(this).closest('.card-select-player').toggleClass('checked', $(this).prop('checked'));

       updateSelectedCount();
    });

    function updateSelectedCount() {
      var selectedCount = $('.card-select-player.checked').length;
      $('.selected-count').text(selectedCount + '/10');
        if (selectedCount >= 5) {
        $('.btn-flex').show();
      } else {
        $('.btn-flex').hide();
      }
    }
  });
  
</script>
