<div class="footer">

  <%= link_to dashboard_path do %>
    <span class="material-symbols-outlined">home</span>
  <% end %>

  <%= link_to calendar_path do %>
    <span class="material-symbols-outlined">calendar_month</span>
  <% end %>

  <%= link_to players_path do %>
    <span class="material-symbols-outlined">sports_basketball</span>
  <% end %>

  <%= link_to games_path do %>
    <span class="material-symbols-outlined">bar_chart</span>
  <% end %>

  <%= link_to profile_path do %>
    <span class="material-symbols-outlined">more_vert</span>
  <% end %>

</div>
