<h1>Select your players</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Select</th>
    </tr>
  </thead>
  <tbody>
    <% @team.players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.position %></td>
        <td><input type="checkbox" name="player_ids[]" value="<%= player.id %>"></td>
      </tr>
    <% end %>
  </tbody>
</table>

<form action="<%= select_players_path(@upcoming_game) %>" method="post">
  <input type="hidden" name="game_id" value="<%= @upcoming_game.id %>">
  <button type="submit">Next ></button>
