<div class="title-container">
  <h3>Past games</h3>
</div>

<% @games.each do |game| %>
  <div class="card-game-container-calendar">
    <div class="card-info-calendar">
      <%#= link_to stats_game_path(game) do %>
      <div class="column1">
        <img src="<%= @home_team && @home_team.photo.present? ?cl_image_path(@home_team.photo.key) :asset_path('bcm_logo.png')%>" alt="">
        <% if game.winner_id == @home_team.id %>
          <p><strong><%= @home_team.city %></strong></p>
          <p><strong><%= game.score_home_team %></strong></p>
        <% else %>
          <p><%= @home_team.city %></p>
          <p><%= game.score_home_team %></p>
        <% end %>
      </div>
      <div class="column2">
        <p><%= game.date.strftime("%d-%m-%Y") %></p>
        <p><%= "Link placeholder" %></p>
      </div>
      <div class="column3">
        <img src="<%= @away_team && @away_team.photo.present? ?cl_image_path(@away_team.photo.key) :asset_path('sig_logo.png')%>" alt="">
        <% if game.winner_id == @away_team.id %>
          <p><strong><%= @away_team.city %></strong></p>
          <p><strong><%= game.score_away_team %></strong></p>
        <% else %>
          <p><%= @away_team.city %></p>
          <p><%= game.score_away_team %></p>
        <% end %>
      </div>
      <%# end %>
    </div>
  </div>
<% end %>
