<div class="megamegadiv">

  <%= simple_form_for PlayerStat.new do |f| %>
    <%= f.hidden_field :game_id, value: @game.id %>

    <div class="divpoints">

      <div class="divpoints1">

        <%# LA VALUE DU BOOLEAN NE PEUT PAS ETRE 2 OU 3 DOND COMMENT FAIRE ? MAIS QUE FAIRE ? I NEED SOME HELP %>
        <%= f.input :ft_made, as: :boolean, label: "1", value: 1, wrapper: false, input_html: { class: 'btn-white-round btnmarginb1' } %>
        <%= f.input :fg_made, as: :boolean, label: "2", value: 1, wrapper: false, input_html: { class: 'btn-white-round btnmarginb1' } %>
        <%= f.input :threep_made, as: :boolean, label: "3", value: 1, wrapper: false, input_html: { class: 'btn-white-round btnmarginb1' } %>
        <span class="material-symbols-outlined">menu</span>

      </div>

      <div class="divpoints2">

        <%= f.input :ft_attempt, as: :boolean, label: "1", value: 1, wrapper: false, input_html: { class: 'btn-red-round btnmarginb1' } %>
        <%= f.input :fg_attempt, as: :boolean, label: "2", value: 1, wrapper: false, input_html: { class: 'btn-red-round btnmarginb1' } %>
        <%= f.input :threep_attempt, as: :boolean, label: "3", value: 1, wrapper: false, input_html: { class: 'btn-red-round btnmarginb1' } %>
        <span class="material-symbols-outlined">undo</span>

      </div>

    </div>

    <div class="divaffichage">

      <div class="divdivaff">

        <div class="divaffichage1">
          <img src="<%= asset_path('Tours.png') %>" alt="" class="logomatch">
          <p>68</p>
        </div>

        <div class="divaffichage2">
          <img src="<%= asset_path('Pau.png') %>" alt="" class="logomatch">
          <p>62</p>
        </div>

      </div>

      <div class="divaffichage3">

        <%# AFFICHAGE DES JOUEURS SELECTED POUR TEST %>
        <%= f.association :participation, collection: @participations_selected, label_method: :player_name %>
        <%= f.submit 'Create Player Stat', class: 'material-symbols-outlined' %>

      </div>

    </div>

    <div class="divstats">

      <div class="divstats1">

        <%= f.input :block, as: :boolean, label: "BLK", value: 1, wrapper: false, input_html: { class: 'btn-white-round btnmarginb1' } %>
        <%= f.input :steal, as: :boolean, label: "STL", value: 1, wrapper: false, input_html: { class: 'btn-white-round btnmarginb1' } %>
        <%= f.input :off_rebound, as: :boolean, label: "OR", value: 1, wrapper: false, input_html: { class: 'btn-white-round btnmarginb1' } %>
        <span class="btn-rectangle">SUB</span>

      </div>

      <div class="divstats2">

        <%= f.input :turnover, as: :boolean, label: "TO", value: 1, wrapper: false, input_html: { class: 'btn-white-round btnmarginb1' } %>
        <%= f.input :assist, as: :boolean, label: "AST", value: 1, wrapper: false, input_html: { class: 'btn-white-round btnmarginb1' } %>
        <%= f.input :def_rebound, as: :boolean, label: "DR", value: 1, wrapper: false, input_html: { class: 'btn-white-round btnmarginb1' } %>
        <%= f.input :fault, as: :boolean, label: "Foul", value: 1, wrapper: false, input_html: { class: 'btn-white-round btnmarginb1' } %>

      </div>

    </div>

  <% end %>

</div>


  <div class="lillildiv">
    <%= link_to 'End QT1', stats_game_path(Game.find(Game.last.id)), id: 'endQtButton', class: 'btn-rectangle' %>
  </div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function() {
    var buttonTexts = ['End QT1', 'End QT2', 'End QT3', 'End GAME'];
    var currentButtonTextIndex = 0;

    $('#endQtButton').on('click', function(e) {
      e.preventDefault();

      if (currentButtonTextIndex === buttonTexts.length - 1) {
        window.location.href = '<%= stats_game_path(@game) %>';
        return;
      }

      $(this).text(buttonTexts[++currentButtonTextIndex]);
    });
  });
</script>
