<div class="megamegadiv">

  <%= simple_form_for PlayerStat.new do |f| %>
    <%= f.hidden_field :game_id, value: @game.id %>

    <div class="divpoints">

      <div class="divpoints1">

        <%= label_tag :player_stat_ft_made, "1", class: "btn-green-round" %>
        <%= check_box_tag "player_stat[ft_made]", "1", false, hidden: true %>

        <%= label_tag :player_stat_fg_made, "2", class: "btn-green-round" %>
        <%= check_box_tag "player_stat[fg_made]", "1", false, hidden: true %>

        <%= label_tag :player_stat_threep_made, "3", class: "btn-green-round" %>
        <%= check_box_tag "player_stat[threep_made]", "1", false, hidden: true %>

        <span class="material-symbols-outlined">menu</span>

      </div>

      <div class="divpoints2">

        <%= label_tag :player_stat_ft_attempt, "1", class: "btn-red-round" %>
        <%= check_box_tag "player_stat[ft_attempt]", "1", false, hidden: true %>

        <%= label_tag :player_stat_fg_attempt, "2", class: "btn-red-round" %>
        <%= check_box_tag "player_stat[fg_attempt]", "1", false, hidden: true %>

        <%= label_tag :player_stat_threep_attempt, "3", class: "btn-red-round" %>
        <%= check_box_tag "player_stat[threep_attempt]", "1", false, hidden: true %>

        <span class="material-symbols-outlined">undo</span>

      </div>

    </div>

    <div class="divaffichage">

      <div class="divdivaff">

        <div class="divaffichage1">
          <img src="<%= asset_path('Tours.png') %>" alt="" class="logomatch">
          <p>68</p>
        </div>

        <div class="divaffichage2">
          <img src="<%= asset_path('Pau.png') %>" alt="" class="logomatch">
          <p>62</p>
        </div>

      </div>

      <div class="divaffichage3">

        <%# AFFICHAGE DES JOUEURS SELECTED POUR TEST %>
        <%= f.association :participation, collection: @participations_selected, label_method: :player_name %>
        <%= f.submit 'Create Player Stat', class: 'material-symbols-outlined' %>

      </div>

    </div>

    <div class="divstats">

      <div class="divstats1">

        <%= label_tag :player_stat_block, "BLK", class: "btn-white-round" %>
        <%= check_box_tag "player_stat[block]", "1", false, hidden: true %>

        <%= label_tag :player_stat_steal, "STL", class: "btn-white-round" %>
        <%= check_box_tag "player_stat[steal]", "1", false, hidden: true %>

        <%= label_tag :player_stat_off_rebound, "OR", class: "btn-white-round" %>
        <%= check_box_tag "player_stat[off_rebound]", "1", false, hidden: true %>

        <span class="btn-rectangle">SUB</span>

      </div>

      <div class="divstats2">

        <%= label_tag :player_stat_turnover, "TO", class: "btn-white-round" %>
        <%= check_box_tag "player_stat[turnover]", "1", false, hidden: true %>

        <%= label_tag :player_stat_assist, "AST", class: "btn-white-round" %>
        <%= check_box_tag "player_stat[assist]", "1", false, hidden: true %>

        <%= label_tag :player_stat_def_rebound, "DR", class: "btn-white-round" %>
        <%= check_box_tag "player_stat[def_rebound]", "1", false, hidden: true %>

        <%= label_tag :player_stat_fault, "Foul", class: "btn-rectangle" %>
        <%= check_box_tag "player_stat[fault]", "1", false, hidden: true %>

      </div>

    </div>

  <% end %>

</div>


  <div class="lillildiv">
    <%= link_to 'End QT1', stats_game_path(Game.find(Game.last.id)), id: 'endQtButton', class: 'btn-rectangle' %>
  </div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function() {
    var buttonTexts = ['End QT1', 'End QT2', 'End QT3', 'End GAME'];
    var currentButtonTextIndex = 0;

    $('#endQtButton').on('click', function(e) {
      e.preventDefault();

      if (currentButtonTextIndex === buttonTexts.length - 1) {
        window.location.href = '<%= stats_game_path(@game) %>';
        return;
      }

      $(this).text(buttonTexts[++currentButtonTextIndex]);
    });
  });
</script>
