<div class="maximaxidiv" data-controller='checked-player'>

  <div class="title-container" id="titleyourteam">
    <h3>Pick your Team :</h3>
    <%= link_to new_game_participation_path(@game) do %>
      <span class="material-symbols-outlined editsymbol">
        edit
      </span>
    <% end %>
  </div>

  <%= form_with url: set_titulaire_game_path(@game), method: :post, class: "@" do %>
    <div id="terrainbackground" data-checked-player-target='checkboxesContainer'>

      <div class="divclass1">
        <% @my_guards.each do |player| %>
          <div class="player-container" data-action='click->checked-player#select'>
            <%= check_box_tag "players[]", player.id, false, id: "player_#{player.id}", class: "checkbox", style: "display: none;" %>
            <%= label_tag "player_#{player.id}", image_tag(player && player.photo.present? ? cl_image_path(player.photo.key) : asset_path('curry.png'), alt: "player_picture", class: "imgimgimg") %>
          </div>
        <% end %>
      </div>

      <div class="divclass2">
        <% @my_forwards.each_with_index do |player, index| %>
          <div class="player-container <%= index.even? ? 'divclass21' : 'divclass22' %>" data-action='click->checked-player#select'>
            <%= check_box_tag "players[]", player.id, false, id: "player_#{player.id}", class: "checkbox", style: "display: none;" %>
            <%= label_tag "player_#{player.id}", image_tag(player && player.photo.present? ? cl_image_path(player.photo.key) : asset_path('curry.png'), alt: "player_picture", class: "imgimgimg") %>
          </div>
        <% end %>
      </div>

      <div class="divclass3">
        <% @my_centers.each_with_index do |player, index| %>
          <div class="player-container <%= index.even? ? 'divclass31' : 'divclass32' %>" data-action='click->checked-player#select'>
            <%= check_box_tag "players[]", player.id, false, id: "player_#{player.id}", class: "checkbox", style: "display: none;" %>
            <%= label_tag "player_#{player.id}", image_tag(player && player.photo.present? ? cl_image_path(player.photo.key) : asset_path('curry.png'), alt: "player_picture", class: "imgimgimg") %>
          </div>
        <% end %>
      </div>

    </div>

    <div class="btn-flex" data-checked-player-target='button' hidden>
      <%= submit_tag "Start Game", class: "btn-orange-classic startgame" %>
    </div>
  <% end %>

</div>
