<div class="maximaxidiv">

  <div id="titleyourteam">

    <h3>Your Team :</h3>

    <%= link_to new_game_participation_path(@game) do %>
      <span class="material-symbols-outlined editsymbol">
        edit
      </span>
    <% end %>

  </div>

  <%= form_with url: game_path(@game), method: :post, class: "@" do %>
    <div id="terrainbackground" class="terrainimg">

      <div class="divclass1">
        <% @my_players.each do |position, player| %>
          <% if position == "G" %>
            <div class="player-container">
              <input type="checkbox" name="players[]" id="player_<%= player.id %>" value="<%= player.id %>" class="checkbox">
              <img src="<%= player && player.photo.present? ? cl_image_path(player.photo.key) : asset_path('curry.png') %>" alt="player_picture">
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="divclass2">
        <% @my_players.each do |position, player| %>
          <% if position == "F" %>
            <div class="player-container">
              <input type="checkbox" name="players[]" id="player_<%= player.id %>" value="<%= player.id %>" class="checkbox">
              <img src="<%= player && player.photo.present? ? cl_image_path(player.photo.key) : asset_path('curry.png') %>" alt="player_picture">
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="divclass3">
        <% @my_players.each do |position, player| %>
          <% if position == "C" %>
            <div class="player-container">
              <input type="checkbox" name="players[]" id="player_<%= player.id %>" value="<%= player.id %>" class="checkbox">
              <img src="<%= player && player.photo.present? ? cl_image_path(player.photo.key) : asset_path('curry.png') %>" alt="player_picture">
            </div>
          <% end %>
        <% end %>
      </div>

    </div>

    <div class="btn-flex" style="display: none;">
      <%= submit_tag "Start Game", class: "btn-orange-classic startgame" %>
    </div>
  <% end %>

</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function () {
    $('.player-container').click(function () {
      $(this).toggleClass('titu');
      updateSelectedCount();
    });

    function updateSelectedCount() {
      var titulaireCount = $('.player-container.titu').length;
      if (titulaireCount === 5) {
        $('.startgame').show();
      } else {
        $('.startgame').hide();
      }
    }
  });
</script>
