<div class="maximaxidiv">

  <div id="titleyourteam">

    <h3>Your Team :</h3>

    <%= link_to new_game_participation_path(@game) do %>
      <span class="material-symbols-outlined editsymbol">
        edit
      </span>
    <% end %>

  </div>

  <%= form_with url: game_path(@game), method: :post, class: "@" do %>
    <div id="terrainbackground" class="terrainimg">

      <div class="divclass1">
        <% @my_guards.each do |player| %>
          <div class="player-container">
            <%= check_box_tag "players[]", player.id, false, id: "player_#{player.id}", class: "checkbox", style: "display: none;" %>
            <%= label_tag "player_#{player.id}", image_tag(player && player.photo.present? ? cl_image_path(player.photo.key) : asset_path('curry.png'), alt: "player_picture", class: "imgimgimg") %>
          </div>
        <% end %>
      </div>

      <div class="divclass2">
        <% @my_forwards.each_with_index do |player, index| %>
          <div class="player-container <%= index.even? ? 'divclass21' : 'divclass22' %>">
            <%= check_box_tag "players[]", player.id, false, id: "player_#{player.id}", class: "checkbox", style: "display: none;" %>
            <%= label_tag "player_#{player.id}", image_tag(player && player.photo.present? ? cl_image_path(player.photo.key) : asset_path('curry.png'), alt: "player_picture", class: "imgimgimg") %>
          </div>
        <% end %>
      </div>

      <div class="divclass3">
        <% @my_centers.each_with_index do |player, index| %>
          <div class="player-container <%= index.even? ? 'divclass31' : 'divclass32' %>">
            <%= check_box_tag "players[]", player.id, false, id: "player_#{player.id}", class: "checkbox", style: "display: none;" %>
            <%= label_tag "player_#{player.id}", image_tag(player && player.photo.present? ? cl_image_path(player.photo.key) : asset_path('curry.png'), alt: "player_picture", class: "imgimgimg") %>
          </div>
        <% end %>
      </div>

    </div>

    <div class="btn-flex" style="display: none;">
      <%= submit_tag "Start Game", class: "btn-orange-classic startgame" %>
    </div>
  <% end %>

</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function () {
    $('.player-container').click(function () {
      var checkbox = $(this).find('input[type="checkbox"]');
      checkbox.prop('checked', !checkbox.prop('checked'));
      updateSelectedCount();
    });

    $('.player-container input[type="checkbox"]').change(function () {
      $(this).closest('.player-container').toggleClass('titu', $(this).prop('checked'));
      updateSelectedCount();
    });

    function updateSelectedCount() {
      var titulaireCount = $('.player-container.titu').length;
      if (titulaireCount === 5) {
        $('.startgame').show();
      } else {
        $('.startgame').hide();
      }
    }
  });
</script>
