<div class="maximaxidiv">

  <div id="titleyourteam">

    <h3>Your Team :</h3>

    <%= link_to new_game_participation_path(@game) do %>
      <span class="material-symbols-outlined editsymbol">
        edit
      </span>
    <% end %>

  </div>

  <div id="terrainbackground" class="terrainimg">

    <div class="divclass1">
      <img src="<%= asset_path('curry.png') %>" alt="" class="imgimgimg">
      <img src="<%= asset_path('curry.png') %>" alt="" class="imgimgimg">
    </div>

    <div class="divclass2">
      <div class="divclass21">
        <img src="<%= asset_path('curry.png') %>" alt="" class="imgimgimg">
        <img src="<%= asset_path('curry.png') %>" alt="" class="imgimgimg">
      </div>
      <div class="divclass22">
        <img src="<%= asset_path('curry.png') %>" alt="" class="imgimgimg">
        <img src="<%= asset_path('curry.png') %>" alt="" class="imgimgimg">
      </div>
    </div>

    <div class="divclass3">
      <div class="divclass31">
        <img src="<%= asset_path('curry.png') %>" alt="" class="imgimgimg">
        <img src="<%= asset_path('curry.png') %>" alt="" class="imgimgimg">
      </div>
      <div class="divclass32">
        <img src="<%= asset_path('curry.png') %>" alt="" class="imgimgimg">
        <img src="<%= asset_path('curry.png') %>" alt="" class="imgimgimg">
      </div>
    </div>

  </div>

  <%# <%= link_to "Start Game", new_player_stat_path, class: "btn-orange-classic startgame" %>
    <%= link_to "Start Game", play_game_path(@game), class: "btn-orange-classic startgame" %>

</div>
