<div class="container">
  <div class="title-container">
    <h3>Players stats</h3>
  </div>
    <div class="columns">
      <div class="column-left">
        <img src="<%= @player && @player.photo.present? ?cl_image_path(@player.photo.key) :asset_path('curry.png')%>" alt="player_picture">
        <h4><%= @player.player_name_full %></h4>
        <p><%= @player.teams.first.club_name %></p>

      </div>
      <div class="column-right">
        <div class="content-right">
          <p><%= @player.position %></p>
          <p><%= @player.size_cm %></p>
        </div>
      </div>
    </div>
    <div class="player-description">
      <p><%= @player.description %></p>
    </div>
    <div class="player-display-stats">
      <div class="stat-uniq">
        <p>PPG</p>
        <p class="number-bold">20.1</p>
      </div>
      <div class="stat-uniq">
        <p>AST</p>
        <p class="number-bold">3.4</p>
      </div>
      <div class="stat-uniq">
        <p>REB</p>
        <p class="number-bold">2.4</p>
      </div>
      <div class="stat-uniq">
        <p>PIE</p>
        <p class="number-bold">10</p>
      </div>
    </div>
    <div class="charts-player">
      <h3>Player Charts</h3>
    </div>

    <div class="charts-player mt-4">
      <h4> Last Game Stats vs Mean Game Stats </h4>
        <div class='chart-container' data-controller='player-charts' data-player-charts-player-id-value='<%= @player.id %>'>
          <canvas class='card-chart' id='chart' data-player-charts-target='chartBar'></canvas>
          <canvas class='card-chart' id='chartLineBis' data-player-charts-target='chartLineBis'></canvas>
        </div>

      <h4>See Your Strengths </h4>
        <div class='chart-container' data-controller='player-charts' data-player-charts-player-id-value='<%= @player.id %>'>
          <canvas class='card-chart' id='chartLine' data-player-charts-target='chartPolar'></canvas>
          </div>
    </div>
</div>
