<div class="container">
  <div class="title-container">
    <h3>Players stats</h3>
  </div>
    <div class="columns">
      <div class="column-left">
        <img src="<%= @player && @player.photo.present? ?cl_image_path(@player.photo.key) :asset_path('user.png')%>" alt="player_picture">
        <h4><%= @player.player_name_full %></h4>
        <p><%= @player.teams.first.club_name %></p>

      </div>
      <div class="column-right">
        <div class="content-right">
          <p><%= @player.position %></p>
          <p><%= @player.size_cm %></p>
        </div>
      </div>
    </div>
    <div class="player-description">
      <p><%= @player.description %></p>
    </div>
    <div class="player-display-stats">
      <div class="stat-uniq">
        <p>PPG</p>
        <p class="number-bold"><%= @player.avg_player_stats(@player)[:point] %></p>
      </div>
      <div class="stat-uniq">
        <p>AST</p>
        <p class="number-bold"><%= @player.avg_player_stats(@player)[:assist] %></p>
      </div>
      <div class="stat-uniq">
        <p>REB</p>
        <p class="number-bold"><%= @player.avg_player_stats(@player)[:rebound] %></p>
      </div>
      <div class="stat-uniq">
        <p>EVAL</p>
        <p class="number-bold"><%= @player.avg_player_stats(@player)[:eval_player] %></p>
      </div>
    </div>
    <div class="charts-player">
      <h3>Player Charts</h3>
    </div>

    <div class="chart-container mt-4" data-controller='player-charts'
           data-player-charts-player-id-value='<%= @player.id %>'>

        <div class='container-bar'>
          <h5> Last Game Stats vs Average Game Stats </h5>
          <canvas class='card-chart' id='chart' data-player-charts-target='chartBar'></canvas>
        </div>

        <div class='container-bar'>
          <h5>See Your Strengths </h5>
          <canvas class='card-chart' id='chartRadar' data-player-charts-target='chartRadar'></canvas>
        </div>

    </div>
</div>
